.link-container-div{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    height: 18vh;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    /* overflow-y: scroll; */
}

.link-container-div>a{
    color: var(--main-text-color);
    font-size: small;
}
