.page-viewer-div{
    margin-top: -20px;
}


/* next-prev arrows */
.navigation-caret{
    width: 2vw;
    height: auto;
}

.carousel-prev-arrow,
.carousel-next-arrow,
.scroll-down-caret{
    position:sticky;
    top: 50%;
    width: fit-content;
    margin: 0px;
    
    z-index: 3;
    background-color: rgb(66, 66, 66);
    opacity: 80%;
    border-radius: 5px;
    
    transition: 0.3s;
}

.carousel-prev-arrow:hover,
.carousel-next-arrow:hover{
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.2);
}

.scroll-down-caret{
    /* background-color: transparent; */
    /* bottom: 1%; */
    left: 50%;
}

.carousel-prev-arrow>p,
.carousel-next-arrow>p{
    margin: 5px;
}

.carousel-next-arrow{
    left: 95%;
}
.carousel-prev-arrow{
    left: 5%
}

/* visibility */
.hidden{
    visibility: hidden;
}