.game-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    column-gap: 5px;
}

.game-card-div {
    flex: 2 1 21%;
    max-width: 7vw;
    max-height: 7vw;
    /* vertical-align: middle; */
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid transparent;
    background-color: var(--secondary-bg-color);
    transition: 0.3s;
  }

.game-card-div:hover{
    cursor: pointer;
    border: 1px solid rgb(65, 60, 55);
    background-color: var(--secondary-bg-color-hover);
}

.home-away-p{
    margin: 0px;
    font-size: small;
}

/* team icons */
.game-card-team-icon-img{
    max-height: 5vw;
    max-width: 5vw;
    
    margin: auto;
    display: block;
}