
.player-splits-div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.player-splits-flex{
    /* border-radius: 5px; */
    /* border: 1px var(--main-text-color) solid; */
    border: 1px black solid;
    padding: 5px;
    margin-right: 10px;
    background-color: var(--secondary-bg-color);
}


.season-stat-p{
    font-size: 12px;
    margin: 3px 0px;
}
.season-stat-p-small{
    font-size: 10px;
    margin: 0px 0px;
}