:root {
	--color-green: #74a056;
    --color-dark-green: #597a43;
	--color-blue: #537c9d;
    --color-berkeley-blue: #3B7EA1;
    --color-red: #D64B3A;
    --color-gold: #d6b73a;
    --color-purple: #4b2e83;
    --color-white: antiquewhite;
    --color-grey: rgb(216, 202, 185);
}

/* high-level visibility */
/* .navbar, */
.footer{
    display: none;
}

/* text */
.h1-heading-title,
.h1-heading{
    margin-left: auto;
    margin-right: auto;
    /* border-width: 1px;
    border-style: dotted;
    border-color: var(--color-grey); */
    text-align: center;
}

.h2-heading{
    text-align: center;
}

p{
    /* padding-left: 25vw;
    padding-right: 25vw; */
    font-size: 20px;
}

h1, h2, p{
    /* font-family: 'Baskerville Old Face', 'Times New Roman', Times, serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    position: relative;
    z-index: 3;
    /* background-color: red; */
}

.scrollable-p-graf{
    width: 30vw;
    padding: 10px;
    margin: 0;
}

.p-graf-centered{
    /* margin-left: ; */
}

.block-p-graf{
    padding-top: 30vh;
    padding-bottom: 40vh;
}

.small-text{
    font-size: medium;
}

.scrollable-div, 
.scrollable-title-div,
.scrollable-div-first,
.scrollable-div-last
{
    position: relative;
    display: inline-block;
    border-radius: 20px;
    z-index: 2;
    opacity: 90%;
    
}

.blue-div{
    background-color: var(--color-blue);
}

.blue2-div{
    background-color: var(--color-berkeley-blue);
}
.red-div{
    background-color: var(--color-red);
}

.gold-div{
    background-color: var(--color-gold);
    color: black;
}

.purple-div{
    background-color: var( --color-purple);
}

.black-div{
    background-color: black;
    border-radius: 0;
    /* padding: 0px; */
}

/* not moving up enough capped at 100 */

.scrollable-title-div{
    opacity: 100%;
    width: fit-content;
    display: block;
    /* width: 30vw; */
    border-radius: 0;
    margin: auto;
    margin-top: -60vh;

}

.scrollable-div-first{
    display: inline-block;
    margin-top: 60vh;
}

.scrollable-div-last,
.scrollable-div{
    margin-top: 25vh;
}

.scrollable-div-last{
    margin-bottom: 20vh;
}

.centered-div-fixed,
.centered-div{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 30vw;
    margin-right: calc(30vw - var(--scrollbar-width)); */
}

.centered-div-fixed{
    padding: 15px;
    width: 50vw;
}

.centered-div-fixed>p{
    margin: 0;
}

.wide-div{
    margin-left: 10vw;
    margin-right: calc(10vw - var(--scrollbar-width));
}
.left-div{
    margin-left: 15vw;
    margin-right: calc(45vw - var(--scrollbar-width));;
}
.right-div{
    margin-left: 55vw;
    margin-right: calc(5vw - var(--scrollbar-width));
}

.sticky-div{
    position:sticky;
    top: 50px;
    
}

.table-div{
    display: table;
}
.table-row-div{
    display: table-row;
}
/* .table-cell-div{
    display: table-cell;
} */

/* color stylings  */
#berkeley-nature-div,
.navbar,
.container-narrow-green-bg{
    background-color: var(--color-dark-green);
    color: var(--color-white);
}
.container-narrow-green-bg {
    float: left;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5vh;
}

.nav-brand,
.nav-link{
	text-decoration: none;
	font-size: 20px;
}

.brand-text,
.nav-brand,
.navbar-nav>li>a,
.scrollspy-link,
.footer-link{
    color: var(--color-white);
}

.scrollspy-link,
.nav-link{
    transition: background-color 1s ease-out 100ms
}
.scrollspy-link:hover,
.navbar-nav>li>a:hover{
	color: var(--color-white);
	background-color: var(--color-dark-green);
}

/* image & vid dimensions */
.img-wide {
    position: relative;
    max-width:100%;
    /* padding-right: 20%; */
    /* padding-top: 5vh; */
}

.img-small,
.img-med,
.vid-small,
.vid-med{
    margin-left: auto;
    margin-right: auto;
}

.vid-large{
    max-width: 60vw;
}

.vid-med,
.img-med{
    max-width: 40vw;
    max-height: 60vh;
}

.img-small,
.vid-small{
    padding: 5px;
    max-width: 20vw;
    max-height: 20vh;
}

.img-grid{
    display: grid;
}

/* img & vid effects */
.sticky-vid{
    position: sticky;
    top: 0px;
    margin-top: -100px;
    margin-bottom: -100px;
    width: calc(100vw - var(--scrollbar-width));
    /* width: 100%; */
    z-index: 1;
    /* filter: blur(5px); */
}

.img-bg{
    width: calc(100vw - var(--scrollbar-width));
}

.sticky-img{
    position: sticky;
    top: 80px;
}

/* image & vid animations */
.img-modal{
    transition: 0.2s;
    border: 2px solid aliceblue;
}

.img-modal:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/* caption text */
.caption-text{
    color: var(--color-grey);
    font-size: smaller;
    display: inline-block;
    width: 20vw;
}
