@import url('https://fonts.googleapis.com/css?family=Roboto:regular,light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,light');

/* GLOBAL */
:root {
	--sdb-color: #9656A0;
	--main-bg-color: #fff;
	--light-grey-hover-color: rgb(238, 238, 238);
}

html,
body {
	scroll-behavior: smooth;
	background: var(--main-bg-color);
	font-family: 'Roboto Light', 'Open Sans';
	display: flex;
	flex-direction: column;
}

body {
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0;
}

.content {
	height: 85%;
}

@media screen and (min-width: 450px) {
	.container {
		padding: 1em 0 3em 0;
		padding-left: 10vw;
		padding-right: 10vw;
		flex: 1 0 auto;
	}

	.container-scrollspy {
		float: left;
		position: fixed;
		width: 10%;
		height: 100%;
		padding-left: 5%;
		padding-top: 5vh;
	}

	.container-narrow {
		float: left;
		width: 60%;
		padding-left: 20%;
		padding-right: 20%;
		padding-top: 5vh;
	}

	.container-half {
		width: 50%;
	}
}

@media screen and (max-width: 450px) {

	.container,
	.container-narrow {
		width: 95%;
		margin: auto;
	}

	.container-scrollspy {
		display: none;
	}
}

.container-p {
	text-indent: 2em;
	font-size: 17px;
	/* text-align: justify; */
}


.data-link,
.purple-text {
	color: var(--sdb-color);
}

.center {
	margin: auto;
	width: 50%;
}

.center-text {
	text-align: center;
}