/* colors */
.NASHBoard-div,
.player-display-div {
    --main-bg-color: rgb(92, 75, 115);
    --secondary-bg-color: rgb(141, 122, 166);
    --secondary-bg-color-hover:rgb(166, 141, 196);
    --main-text-color: rgb(252, 248, 242);
    
}

/* title */
.NASHBoard-title{
    padding: 0px;
    margin-bottom: 0px;
}

/* grid layout */
.NASHBoard-div{
    display: grid;
    grid-template-columns: 7fr 7fr 3fr min-content;
    grid-template-rows: 1fr auto;
    column-gap: 5px;
    padding: 10px;
}

/* .NASHBoard-title-div {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
} */

.my-team-div {
    /* display: flex; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}


.search-player-div{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* .filter-players-div{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.player-cards-div-flex{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
} */

.link-bibble-div{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.league-scoring-div{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
